.scroll-y {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  touch-action: pan-x;

  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    scrollbar-width: none;
    background: transparent;
  }
}

.scroll-x {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  touch-action: pan-y;

  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    scrollbar-width: none;
    background: transparent;
  }
}